@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Karla');



body, html {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    font-family: 'Karla', sans-serif;
}

.background {
  background-size: cover;
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .cat1 {
    background-image: url("images/cat.jpg");
    min-height: 100%;
    
}

.cat2 {
  background-image: url("images/cat.jpg");
  min-height: 400px;
}

.header-nav {
  min-width: 100%;
}

.header-nav, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  overflow: hidden;  
}

.header-nav, li {
  float: right;
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  color: #E4DED2;
}

.caption {
  position: absolute;
  left: 15%;
  top: 5%;
  text-align: center;
  font-family: 'Karla', sans-serif; 
  color: #E4DED2;
  text-shadow: 0px 0px 1px #000000;
  font-size: 36px;
}

h1 {
  font-size: 72px;
  font-family: 'Dancing Script', cursive;
}

h2 {
  font-size: 36px;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

.content {
  background-color: #E4DED2;
  padding: 20px 100px;
}

