.amy {
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
}

h1, h2, h3 {
    font-family: 'Kalam', cursive;
}

a {
    font-weight: 700;
}

.fab, .fas {
    font-size: 48px;
    margin: 5px;
}

.icon {
    font-size: 12px;
}

.nwu, .asu {
    height: 75px;
}

.footertext {
    font-size: 12px;
}