@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Karla');



body, html {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    font-family: 'Karla', sans-serif;
    color: #434142
}

.background {
  background-size: cover;
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .cat1 {
    background-image: url("images/cat.jpg");
    min-height: 100%;
    
}

.header-nav {
  min-width: 100%;
}

.nav-list, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  overflow: hidden;  
}

.nav-list > li {
  float: right;
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  color: #ECE9E0;
}

li > a, li> a:visited, li > a:link, li > a:hover {
  color: #ECE9E0;
  text-decoration: none;
} 


.caption {
  position: absolute;
  left: 15%;
  top: 5%;
  text-align: center;
  font-family: 'Karla', sans-serif; 
  color: #ECE9E0;
  text-shadow: 0px 0px 1px #000000;
  font-size: 36px;
}

h1 {
  font-size: 72px;
  font-family: 'Dancing Script', cursive;
}

h2 {
  font-size: 36px;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

h3 {
  font-size: 24px;
  font-family: 'Dancing Script', cursive;
  margin-top: 50px;
}

h4 {
  margin-top: 10px;
}

h4 > a:visited, h4 > a:link, h4 > a:hover, p > a, p > a:visited, p > a:link, p > a:hover {
  color: #434142;
  text-decoration: none;
  font-weight: bold;
} 


.content {
  background-color: #ECE9E0;
  padding: 30px 100px;
}

.skills {
  text-align: center;
  overflow-x: auto;

}

table {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
}

i {
  font-size: 32px;
  color: #434142;
}

.projects {
  text-align: center;
}

.projects > p {
  text-align: justify;
}

img {
  width: 500px;
}


.contact {
  text-align: center;
}


@media only screen and (max-width: 992px) {

  .caption {
    left: 5%;
    top: 5%;
    font-size: 24px;
  }
  
  h1 {
    font-size: 36px;
  }

} 

@media only screen and (max-width: 600px) {

  .background {
    
    background-attachment: scroll;
  }

  .nav-list > li {
    padding: 5px;
    font-size: 16px;
  
  }

  .caption {
    left: 10%;
    top: 10%;
    font-size: 18px;
  }
  
  h1 {
    font-size: 28px;
  }

  img {
    width: 300px;
  }

  .content {
    padding: 10px;
  }
} 
